<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="description" content="layout template responsive">
	<meta name="author" content="Michele Risi">
	
	<title>Layout template</title>
	
	<link href="layout.css" type="text/css" rel="stylesheet">	
</head>
<body>

<header class="top">Power Protein Hub
		
	</header>
	
	<nav>
		<div id="menu"></div>
		<ul>
			<li class="selected"><a href="#">Home</a></li>
			<li><a href="#">Info</a></li>
			<li><a href="#">Proteine</a></li>
			<li><a href="#">Alimentazione Sportiva</a></li>
			<li><a href="#">Vitamine</a></li>
			<li><a href="#">Accessori & Abbigliamento</a></li>								
		</ul>
	</nav>
	<H3 align="center" >Carrello
	</H3>
	<div id="tableContainer">
		
	</div>
	
	<div id="multiColumn">
		
	</div>
	
	<footer id=footer>
	<div id=sin>
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<h3>SEGUICI SUI SOCIAL </h3>
	<a href="https://it-it.facebook.com/" class="fa fa-facebook"></a>
	<a href="" class="fa fa-twitter"></a>
	<a href="" class="fa fa-youtube"></a>
	<a href="https://www.instagram.com/accounts/login/" class="fa fa-instagram"></a>
	
	
	</div>
	<div id=cen>
	
	<h3>CONTATTI </h3>
	<p>Contattaci: 334 334 9356 oppure 0828951044</p>
	<p>Indirizzo: Via Aldo Moro 29/155 <br>
	84021 Buccino, SA Italia</p>
	
	</div>

	
	</footer>

</body>
</html>